.footer {
    background: linear-gradient(90deg, #0b395a 0%, #166082 100%);
    margin-top: 20px;
&-logo {
    width: 80%;
    @include respond-from(lg-md-max){
        width: 35%;
        margin-bottom: 35px;
    }
}
    &-main {
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        padding: 50px 0 100px 0;

        h4 {
            color: var(--primary);
            font-size: 0.95rem;
            margin: 0 0 20px;
            position: relative;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                margin: 0 0 10px;

                a {
                    color: var(--white);
                    font-weight: 300;
                    font-size: 0.85rem;
                    text-decoration: none;
                }
            }
        }
    }

    &-end {
        padding: 20px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.15);

        p {
            color: var(--white);
            font-weight: 300;
            font-size: 0.8rem;
            line-height: 16px;
            margin: 0;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 0;
            margin: 0;

            li {
                list-style: none;

                a {
                    color: var(--white);
                    text-decoration: none;
                    font-size: 0.8rem;
                    line-height: 12px;
                    font-weight: 300;
                    display: block;
                }
            }
        }
    }
}