body {
    font-family: 'Lexend', sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    background-color: transparent;
    padding: 0;
}

:root {
    --black: #000;
    --white: #fff;
    --borderColor: #e9e9e9;
    --borderColor2: #f2f2f2;
    --borderColor3: #f5f5f5;
    --primary: #09c5d6;
    --primary-light: #eefbfc;
    --secondary: #0b395a;
    --pColor: #141414;

    --secondary-new: #0b395a;
    --p-color-new: #0A244B;
    --p-color-two: #87F0C9;
    --primary-new: #F25D1D;
    --secondary-new-two: #C5E2E0;
    --backColor: #155C7E;


}

input:focus {
    outline: 0;
}

.primary-color {
    color: var(--primary) !important;
}

.product {
    &-image {
        height: 177px;
        width: 100%;
        object-fit: cover;
        display: block;
    }
}

.card {
    border: 0;
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.15);
    border-radius: 7px;

    &-image {
        img {
            margin: 0;
        }

        padding: 20px;
        border-bottom: 2px solid var(--borderColor3);
    }

    &-footer {
        margin-top: 30px;
        background-color: var(--white);
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 10px;
        color: #30BE73;
        border-top: 2px solid var(--borderColor3);
        padding: 10px 20px;

        img {
            margin-left: 5px;
        }
    }

    &-body {
        border: 0;

        .price-des {
            font-weight: 400;
        }

        h5 {
            color: var(--black);
            font-weight: 700;
            font-size: 1rem;
            line-height: 22px;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        p {
            font-size: 1rem;
            line-height: 22px;
            margin: 0 0 15px;
            padding: 0;
            font-weight: bold;
            margin-bottom: 0;

            span {
                color: #b73024;
            }
        }

        .price-current {
            font-size: 1rem;
            line-height: 22px;
            font-weight: normal;
        }
    }
}

.btn {
    &-secondary {
        background-image: linear-gradient(90deg, #0b395a 0%, #166082 100%);
        border-radius: 12px;
        font-size: 0.9rem;
        padding: 10px 25px;
    }
}

.toggle {
    &-head {
        padding: 15px 20px;

        h5 {
            line-height: 35px;
            font-size: 0.9rem;
            color: var(--pColor);
            font-weight: 700;
            margin: 0;
        }
    }
}

.slider-range {
    color: var(--black);
    font-size: 0.8rem;

    .range-slider .range-slider__range,
    .range-slider .range-slider__thumb {
        background: var(--secondary);
    }

    .range-slider .range-slider__thumb {
        border: 2px solid var(--white);
        width: 20px;
        height: 20px;
    }

    label {
        color: #0b395a;
        line-height: 40px;
        margin: 0 5px 0 0;
    }

    &-input {
        padding: 0 10px;
        border-radius: 6px;
        border: 1px solid #F5f5f5;
        line-height: 40px;
    }
}

.check-input {
    font-size: 0.85rem;

    span {
        color: rgba(0, 0, 0, 0.44);
    }

    label {
        line-height: 20px;
        color: var(--black);
        font-weight: 400;
    }

    .form-check-input {
        vertical-align: top;
        background-color: var(--white);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
        width: 20px;
        height: 20px;
        border: 1px solid var(--primary);
        border-radius: 50%;
        margin: 0;

        &:checked {
            background-color: #0d6efd;
            border-color: #0d6efd;

            &[type=checkbox] {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
            }
        }
    }
}

.box-search {
    position: relative;

    .form-input {
        border: 1px solid var(--primary);
        font-size: 14px;
        font-size: 1.4rem;
        border-radius: 12px;
        padding: 12px;
        font-size: 0.9rem;

        .rotate {
            transform: rotate(-180deg);
        }

        input {
            border: 0;
            width: 100%;

            &:focus {
                outline: 0;
            }
        }
    }

    .drop-list {
        height: auto;
        padding: 0;
        margin: 2px 0 0 0;
        z-index: 10;
        background: var(--white);
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        padding: 5px 0;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 200px;

        li {
            list-style: none;
            font-size: 0.9rem;
            padding: 3px 12px;

            button {
                width: 100%;
                text-align: left;
            }

            &:hover {
                background-color: var(--borderColor3);
            }
        }
    }
}

.loader {
    border: 4px solid transparent;
    border-radius: 50%;
    border-top: 4px solid var(--primary);
    border-right: 4px solid var(--primary);
    border-bottom: 4px solid var(--primary);
    width: 40px;
    height: 40px;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hamburger {
    padding: 0px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;

    &-box {
        width: 24px;
        height: 18px;
        display: inline-block;
        position: relative;
    }

    &-inner {
        width: 24px;
        height: 3px;
        background-color: var(--black);
        border-radius: 3px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
        top: 2px;

        &::before {
            content: "";
            display: block;
            width: 24px;
            height: 3px;
            background-color: var(--black);
            border-radius: 3px;
            position: absolute;
            top: 8px;
            transition-property: transform, opacity;
            transition-timing-function: ease;
            transition-duration: 0.15s;
        }

        &::after {
            width: 24px;
            height: 3px;
            background-color: var(--black);
            border-radius: 3px;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease;
            content: "";
            display: block;
            bottom: -10px;
            top: 16px;
        }
    }

    &.is-active .hamburger-inner {
        transform: translate3d(0, 8px, 0) rotate(45deg);

        &::before {
            transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
            opacity: 0;
        }

        &::after {
            transform: translate3d(0, -16px, 0) rotate(-90deg);
        }
    }
}

.main-head {
    h3 {
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        color: var(--p-color-new);

        @include respond-from(sm) {
            font-size: 30px;
            line-height: 40px;
        }
    }

    &-sub {
        h3 {
            font-weight: 700;
            font-size: 32px;
            line-height: 60px;
            color: var(--p-color-new);
        }
    }
}

.gogetaMain {
    .container {
        @include respond-from(lg) {
            max-width: 1100px;
            padding: 0 30px;
        }

        @include respond-from(md-xxl) {
            max-width: 100%;
            padding: 0 30px;
        }
    }
}

.toggle-card {
    width: 100%;
    display: block;
    background: var(--white);
    border-radius: 30px;
    padding: 25px;
    text-align: left;

    h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: var(--p-color-new);

        @include respond-from(md) {
            font-size: 18px;
            line-height: 22px;
        }
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--p-color-new);

        @include respond-from(md) {
            font-size: 15px;
            line-height: 24px;
        }
    }
}
.plp-back{
    // background-image: url('../../../public/assets/ebay-plp-back.png');
}