body,
html {
    font-family: 'Lexend', sans-serif;
    background-image: url('../../../public/body_img.png');
    background-repeat: repeat;
    background-size: contain;
    background-color: transparent;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.border-radius-0 {
    border-radius: 0 !important;
}

:root {
    --black: #000;
    --white: #fff;
    --borderColor: #e9e9e9;
    --borderColor2: #f2f2f2;
    --borderColor3: #f5f5f5;
    --primary: #09c5d6;
    --primary-light: #eefbfc;
    --secondary: #0b395a;
    --pColor: #141414;

    --secondary-new: #0b395a;
    --p-color-new: #0A244B;
    --p-color-two: #87F0C9;
    --primary-new: #F25D1D;
    --secondary-new-two: #C5E2E0;
    --backColor: #155C7E;


}

.error {
    color: var(--primary-new);
    font-size: 10px;
}

input:focus {
    outline: 0;
}

.primary-color {
    color: var(--primary-new) !important;
}

.product {
    &-image {
        height: auto;
        max-height: 177px;
        width: 100%;
        object-fit: cover;
        display: block;
    }
}

.btn-trans {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.range-slider-range-1 {
    background-color: var(--secondary-new);
    height: 8px;
    border-radius: 4px;
}

.card {
    border: 0;
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.15);
    border-radius: 7px;

    &-image {
        img {
            margin: 0;
        }

        padding: 20px;
        border-bottom: 2px solid var(--borderColor3);
    }

    &-footer {
        margin-top: 30px;
        background-color: var(--white);
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 10px;
        color: #30BE73;
        border-top: 2px solid var(--borderColor3);
        padding: 10px 20px;

        &.outStock {
            background: #E2F1F0 !important;
            font-weight: 600;
            font-size: 11px;
            line-height: 14px;
            text-transform: uppercase;
        }

        img {
            margin-left: 5px;
        }
    }

    &-body {
        border: 0;

        .brandImg {
            width: 80px;
            height: auto;
        }

        .price-des {
            font-weight: 400;
        }

        h5 {
            color: var(--black);
            font-weight: 700;
            font-size: 1rem;
            line-height: 22px;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        p {
            font-size: 1rem;
            line-height: 22px;
            margin: 0 0 15px;
            padding: 0;
            font-weight: bold;
            margin-bottom: 0;

            span {
                color: var(--primary-new);
            }
        }

        .price-current {
            font-size: 1rem;
            line-height: 22px;
            font-weight: normal;
        }
    }
}

.btn {
    &-secondary {
        background-image: linear-gradient(90deg, #0b395a 0%, #166082 100%);
        border-radius: 12px;
        font-size: 0.9rem;
        padding: 10px 25px;
    }
}

.toggle {
    &-head {
        padding: 15px 20px;

        h5 {
            line-height: 35px;
            font-size: 0.9rem;
            color: var(--pColor);
            font-weight: 700;
            margin: 0;
        }
    }
}

.slider-range {
    color: var(--black);
    font-size: 0.8rem;

    .range-slider .range-slider__range,
    .range-slider .range-slider__thumb {
        background: var(--secondary);
    }

    .range-slider .range-slider__thumb {
        border: 2px solid var(--white);
        width: 20px;
        height: 20px;
    }

    label {
        color: #0b395a;
        line-height: 40px;
        margin: 0 5px 0 0;
    }

    &-input {
        padding: 0 10px;
        border-radius: 6px;
        border: 1px solid #F5f5f5;
        line-height: 40px;
    }
}

.check-input {
    font-size: 0.85rem;

    span {
        color: rgba(0, 0, 0, 0.44);
    }

    label {
        line-height: 20px;
        color: var(--black);
        font-weight: 400;
    }

    .form-check-input {
        vertical-align: top;
        background-color: var(--white);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
        width: 20px;
        height: 20px;
        border: 1px solid var(--primary);
        border-radius: 50%;
        margin: 0;

        &:checked {
            background-color: #0d6efd;
            border-color: #0d6efd;

            &[type=checkbox] {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
            }
        }
    }
}

.box-search {
    position: relative;

    &.box-select-calclulate {
        .form-input {
            border-color: var(--secondary-new-two);
            padding: 0;
            border-radius: 15px;

            .icoArr {
                width: 44px;
                height: 40px;
                background: var(--secondary-new-two);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0px 15px 15px 0px;
            }

            input {
                height: 40px;
                border-radius: 15px;
                padding-left: 10px;
            }
        }

        .drop-list {
            box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
            border: 1px solid var(--secondary-new-two);
            border-radius: 15px;
            top: 43px;
            padding: 8px;

            li {
                padding: 0;

                button {
                    padding: 8px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 26px;
                    color: var(--p-color-new);

                    &:hover {
                        background-color: #E2F1F0;
                    }
                }
            }
        }
    }

    .form-input {
        border: 1px solid var(--primary);
        font-size: 14px;
        font-size: 1.4rem;
        border-radius: 12px;
        padding: 12px;
        font-size: 0.9rem;

        .rotate {
            img {
                transform: rotate(-180deg);
            }
        }

        input {
            border: 0;
            width: 100%;

            &:focus {
                outline: 0;
            }
        }
    }

    .drop-list {
        height: auto;
        padding: 0;
        margin: 2px 0 0 0;
        z-index: 10;
        background: var(--white);
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        padding: 5px 0;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 200px;

        li {
            list-style: none;
            font-size: 0.9rem;
            padding: 3px 12px;

            button {
                width: 100%;
                text-align: left;
            }

            &:hover {
                background-color: var(--borderColor3);
            }
        }
    }
}

.loader {
    border: 4px solid transparent;
    border-radius: 50%;
    border-top: 4px solid var(--primary);
    border-right: 4px solid var(--primary);
    border-bottom: 4px solid var(--primary);
    width: 40px;
    height: 40px;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hamburger {
    padding: 0px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;

    &-box {
        width: 24px;
        height: 18px;
        display: inline-block;
        position: relative;
    }

    &-inner {
        width: 24px;
        height: 3px;
        background-color: var(--black);
        border-radius: 3px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
        top: 2px;

        &::before {
            content: "";
            display: block;
            width: 24px;
            height: 3px;
            background-color: var(--black);
            border-radius: 3px;
            position: absolute;
            top: 8px;
            transition-property: transform, opacity;
            transition-timing-function: ease;
            transition-duration: 0.15s;
        }

        &::after {
            width: 24px;
            height: 3px;
            background-color: var(--black);
            border-radius: 3px;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease;
            content: "";
            display: block;
            bottom: -10px;
            top: 16px;
        }
    }

    &.is-active .hamburger-inner {
        transform: translate3d(0, 8px, 0) rotate(45deg);

        &::before {
            transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
            opacity: 0;
        }

        &::after {
            transform: translate3d(0, -16px, 0) rotate(-90deg);
        }
    }
}

.main-head {
    h3 {
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        color: var(--p-color-new);

        @include respond-from(sm) {
            font-size: 30px;
            line-height: 40px;
        }
    }

    &-sub {
        h3 {
            font-weight: 700;
            font-size: 32px;
            line-height: 60px;
            color: var(--p-color-new);
        }
        p{
            font-weight: 400;
font-size: 16px;
color: var(--p-color-new);
        }
    }
}

.gogetaMain {
    .container {
        @include respond-from(lg) {
            max-width: 1100px;
            padding: 0 15px;
        }

        @include respond-from(md-xxl) {
            max-width: 100%;
            padding: 0 15px;
        }
    }
}

.toggle {
    &-card {
        width: 100%;
        display: block;
        background: var(--white);
        border-radius: 30px;
        text-align: left;

        h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: var(--p-color-new);

            @include respond-from(md) {
                font-size: 18px;
                line-height: 22px;
            }
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: var(--p-color-new);

            @include respond-from(md) {
                font-size: 15px;
                line-height: 24px;
            }
        }
    }

    &-head {
        border-radius: 30px;

        &.show {
            border-radius: 30px 30px 0px 0px;
        }

        padding: 25px;
    }

    &-body {
        padding: 25px;
    }
}

.plp-back {
    // background-image: url('../../../public/assets/ebay-plp-back.png');
}

.form {
    &-switch .form-check-input {
        width: 3em;
    }

    &-check-input {
        height: 1.7em;

        &:checked {
            background-color: var(--primary-new);
            border-color: var(--primary-new);
        }

        &:focus {
            box-shadow: unset;
        }
    }
}

.calclulate-form {
    label {
        color: var(--white);
    }

    li {
        list-style: none;

        input:checked~label {
            background-color: var(--p-color-two);
        }

        label {
            color: var(--p-color-new);
            padding: 5px 15px;
            border-radius: 15px;
            font-weight: 500;
            font-size: 11px;
            line-height: 26px;
        }
    }
}

.price-calculate {
    padding: 30px;
    background: var(--secondary-new-two);
    border-radius: 20px;
    margin-bottom: 20px;

    p {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 15px !important;
        color: var(--backColor);
    }

    h4 {
        font-weight: 500;
        font-size: 48px;
        line-height: 26px;
        color: var(--p-color-new);
    }

    &.secondBlue {
        background-color: var(--backColor);

        p {
            color: var(--p-color-two);
        }

        svg {
            path {
                fill: var(--p-color-two);
            }
        }

        h4 {
            color: var(--white);

            sub {
                font-size: 24px;
                color: var(--p-color-two);
            }
        }
    }

    &.green {
        background-color: #BFD2B6;

        p {
            color: var(--p-color-new);
        }

        h4 {
            color: var(--white);
        }
    }
}

.tooltipCell {
    position: relative;

    &_des {
        position: absolute;
        top: 35px;
        background-color: var(--p-color-new);
        min-width: 262px;
        font-size: 16px;
        padding: 30px;
        border-radius: 15px;
        font-weight: 400;
        line-height: 145%;
        color: var(--white);
        z-index: 3;
        white-space: pre-wrap;
        opacity: 1;
        &.right{
            top: 50%;
            left: 30px;
            transform: translate(10px, -50%);
            &:after {
                border-right: 15px solid var(--p-color-new);
                content: "";
                position: absolute;
                top:50%;
                border-bottom: 15px solid transparent;
                border-top: 15px solid transparent;
                left: -12px;
                transform: translate(0%, -50%);
            }
        }
        &.left{
            left: 50%;
            transform: translate(-50%, 0%);
            &:after {
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                content: "";
                position: absolute;
                top: -10px;
                border-bottom: 15px solid var(--p-color-new);
                left: 50%;
                transform: translate(-50%, 0px);
            }
        }
        

        @media(max-width:575px) {
            font-size: 14px;
            padding: 15px;
            border-radius: 12px;
        }
    }
}

.price-best {
    color: var(--p-color-new);
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 22px;

    span {
        color: var(--primary-new);
    }
}

.errorPage {
    .error-content {
        p {
            font-size: 18px;
            font-weight: 500;
            margin: 0 auto;
            max-width: 500px;
        }
    }

    .btn-error {
        background-color: #f25d1d;
        border-radius: 30px;
        color: #fff;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        margin-top: 30px;
        padding: 10px 39px;
    }
}
.helpText{
    font-size: 10px;
}
#nprogress  {
    .bar{
        background-color: var(--primary-new);
        height: 3px;
    }
    .peg{
  box-shadow: 0 0 10px var(--primary-new), 0 0 5px var(--primary-new);
    }
    .spinner{
        display: none;
    }
}
.calInfo{
    svg{
        width: 25px;
        height: 25px;
        path{
            fill: var(--primary-new);
        }
    }
}