.applyNow {
    .head_apply {
        font-weight: 700;
        font-size: 32px;
        color: var(--p-color-new);
        padding-bottom: 50px;
    }

    &-errorMsg {
        .error {
            font-size: 16px;
        }
    }

    &-steps {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 50px;
        position: relative;
        z-index: 1;

        &:after {
            content: '';
            width: calc(100% - 210px);
            height: 2px;
            border: 4px dashed #0A244B;
            position: absolute;
            top: 20px;
            opacity: 0.5;
            z-index: -1;
        }

        li {
            list-style: none;
            text-align: center;

            p {
                font-weight: 700;
                font-size: 24px;
                color: var(--p-color-new);
                padding-top: 20px;
            }
        }
    }

    &-des {
        margin-bottom: -45px;
    }

    .toggle {
        &-head {
            background-color: #BFD2B6;
            justify-content: center !important;
        }

        &-body {
            p {
                margin: 0;
            }
        }
    }

    
}
.calclulate-form {
    padding-bottom: 15px;

    span {
        font-weight: 700;
        font-size: 15px;
        display: flex;
        align-items: center;
        color: var(--p-color-new);
    }

    ul {
        padding: 0;
        margin: 0;
    }

    .form-price-input {
        .currency {
            background: var(--secondary-new-two);
            border-radius: 15px 0px 0px 15px;
            height: 44px;
            display: flex;
            align-items: center;
            padding: 0px 17px;
        }

        .form-input {
            border: 0;
            background-color: var(--white);
            border: 1px solid var(--secondary-new-two);
            border-radius: 15px;
            border-radius: 0px 15px 15px 0px;
            height: 44px;
            padding: 5px 10px;
            width: 100%;
            &:disabled {
                background: rgba(198, 226, 224, 0.29);
            }
        }

        &.NoCurr {
            .form-input {
                border-radius: 15px;
            }
        }
    }
}