.featuredBanner{
    margin-bottom: 90px;
    @media(max-width:767px){
        margin-bottom: 60px;
    }
}
.stepsCell{
    margin-bottom: 120px;
    @media(max-width:767px){
        margin-bottom: 60px;
    }
    ul{
        gap: 26px;
        li{
            width: 234px;
            height: 220px;
            background: #FFFFFF;
            border-radius: 20px;
            display: flex;
            align-items: center;
            flex-flow: column;
            justify-content: center;
            text-align: center;
            padding: 34px;
            margin: 0 auto;
            img{
                min-height: 50px;
                height: 54px;
            }
            h4{
                font-weight: 700;
                font-size: 20px;
                line-height: 25px;
                text-align: center;
                color: #0A244B;
                min-height: 50px;
                margin: 24px 0 0;
            }
        }
    }
}
.oneStepsCol{
    padding: 70px 35px 60px;
    border-radius: 50px;
    @media(max-width:767px){
        padding: 30px 15px;
        border-radius: 20px;
    }
    .ossContent{
        span.subHead{
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            color: #155C7E;
            margin-bottom: 30px;
            @media(max-width:767px){
                margin-bottom: 10px;
                font-size: 16px;
                line-height: normal;
            }
        }
        h3.h3{
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: #0A244B;
            @media(max-width:767px){
                font-size: 22px;
                line-height: normal;
            }
        }
        .realtimeBike{
            
            img {
                margin-right: 12px;
            }
        }
       
    }
     .secriDetalLef{
            .onestopShow{
                img{
                    height: 470px;
                    object-fit: contain;
                    @media(max-width:767px){
                        height: auto;
                    }
                }
            }
        }
}
.instantActivation{
    margin-top: 120px;
     @media(max-width:767px){
        margin-top: 60px;
    }
    .oneStepsCol{
        background-color: #fff;
    }
    .secriDetalLef{
        .onestopShow{
            img{
                height: 350px;
                @media(max-width:767px){
                    height: auto;
                }
            }
        }
    }
}
.boostEngegement{
    .oneStepsCol{
        background-color: #155C7E;
        color: #fff;
        span.subHead.d-flex{
            color: #87F0C9;
        }
        h3.h3, p{
            color: #fff;
        }
        .secriDetalLef{
            .onestopShow{
                text-align: center;
                img{
                    height: 400px;
                     @media(max-width:767px){
                        height: auto;
                    }
                }
            }
        }
    }
}
.configurableCell{
    .secriDetalLef{
         .cardbx {
            background: #FFFFFF;
            border-radius: 25px 25px;
            height: 100%;
            overflow: hidden;
            position: relative;
            padding-bottom: 40px;
            filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.2));
            max-width: 300px;
            margin: -124px auto 0;
            @media(max-width:991px){
                 margin: 0px auto 0;
            }
            @media(max-width:767px) {
                filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
            }

            img.productIMg {
                width: 235px;
                margin: 0 auto;
                display: flex;
                padding-top: 15px;
            }

            .cardBdy {
                padding: 4px 25px;

                .brandColor {
                    margin-bottom: 15px;

                    img {
                        width: 88px;
                    }

                    .d-flex {
                        gap: 5px;

                        .colorRoll {
                            width: 22px;
                            height: 22px;
                            border-radius: 22px;
                            display: flex;

                            &.black {
                                background-color: #12130E;
                            }

                            &.orange {
                                background-color: #EA5F39;
                            }

                            &.multi {
                                background: linear-gradient(180deg, #A9DBC9 51.56%, #000000 51.57%);
                                transform: rotate(-45deg);
                            }
                        }
                    }
                }

                h4 {
                    font-weight: 700;
                    font-size: 18px;
                    color: #0A244B;
                    margin: 0;
                }

                p {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: #0A244B;

                    span {
                        color: #F25D1D;
                        font-weight: 500;
                    }
                }

                .discount {
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 16px;
                    color: #F25D1D;
                    margin-bottom: 14px;
                    display: flex;
                }
                .offPerT{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: #0A244B;
                    margin: 0;
                    span{
                        text-decoration: line-through;
                        color: #0A244B;
                        font-weight: 400;
                    }
                }

            }

            p.stockStatus {
                background: #87F0C9;
                margin: 0;
                padding: 13px;
                text-align: center;
                font-weight: 600;
                font-size: 11px;
                line-height: 14px;
                color: #0A244B;
                position: absolute;
                bottom: 0;
                width: 100%;
                left: 0;
            }
        }
    }
}
.effortlessadmin{
    &:before{
        height: 1930px !important;
        bottom: -170px !important;
    }
    .oneStepsCol {
        background-color: #BFD2B6;
        .secriDetalLef{
            .onestopShow{
                text-align: center;
                img{
                    height: 450px;
                     @media(max-width:767px){
                        height: auto;
                    }
                }
            }
        }
    }
}
.competitorCompTable{
    margin-top: 70px;
    position: relative;
    z-index: 2;
    @media(max-width:767px){
        margin-top: 60px;
    }
    .h2{
        margin-bottom: 40px;
         @media(max-width:767px){
            margin-bottom: 20px;
        }
    }
    table{
        thead{
            th{
                font-weight: 700;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                color: #0A244B;
                border: 0;
                padding: 20px 8px;
            }
        }
        tbody{
            td{
                font-weight: 600;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                color: #0A244B;
                border: 0;
                padding: 14px 8px;
                img{
                    width: 26px;
                }
            }
        }
    }
}

.competitorCompTable .table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: #E2F1F0;
    color: #0A244B;
}
.gStfiute{
    position: relative;
    z-index: 2;
    top: -5px;
    .rightCell 
    {
        img{
            max-width: 500px;
        }
    
    }
}